# Byte-compiled / optimized / DLL files
__pycache__/

# Environments
.env/

# Data
data/

#VScode
.vscode/

#Saved Models
saved_models/

# history of model fitting
history.pkl

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py
